@font-face {
    font-family: 'concourse-t3';
    src: local('Concourse T3'),
         url('../fonts/concourse_t3_regular.woff2') format('woff2'),
         url('../fonts/concourse_t3_regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'concourse-t3';
    src: local('Concourse T3 Bold'),
         url('../fonts/concourse_t3_bold.woff2') format('woff2'),
         url('../fonts/concourse_t3_bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
}

@font-face {
    font-family: 'concourse-t3';
    src: local('Concourse T3 Italic'),
         url('../fonts/concourse_t3_italic.woff2') format('woff2'),
         url('../fonts/concourse_t3_italic.woff') format('woff');
    font-style: italic;
    font-weight: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'concourse-t2';
    src: local('Concourse T2'),
         url('../fonts/concourse_t2_regular.woff2') format('woff2'),
         url('../fonts/concourse_t2_regular.woff') format('woff');
    font-style: normal;
    font-weight: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'concourse-c3';
    src: local('Concourse C3'),
         url('../fonts/concourse_c3_regular.woff2') format('woff2'),
         url('../fonts/concourse_c3_regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'concourse-c3';
    src: local('Concourse C3 Bold'),
         url('../fonts/concourse_c3_bold.woff2') format('woff2'),
         url('../fonts/concourse_c3_bold.woff') format('woff');
    font-style: normal;
    font-weight: bold;
    font-stretch: normal;
}

@font-face {
    font-family: Fira Code;
    font-weight: normal;
    src: local('Fira Code'),
         url('../fonts/FiraCode-Regular.woff');
}

@font-face {
    font-family: Fira Code;
    font-weight: bold;
    src: local('Fira Code Medium'),
         url('../fonts/FiraCode-Medium.woff');
}
